<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title> X </title>
		<link rel = "stylesheet" type = "text/css" href = "members.css" />
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
	</head>

	<body>
		<table>
			<tr>
				<th>EXECUTIVE</th>
			</tr>
			<tr>
				<td>
					<ul class="members" id="executive">
						<li>
							<div class="member" id="exec">
								<div class="member-pic-cover">
									<img class=member-pic src="../../model-data/img/checkers.png"/>
								</div>
								<h2 class="member-name">Nicolai Garcia</h2>
								<h3 class="member-title">President</h3>
								<h3 class="member-loc">🌎Berkeley, CA</h3>
							</div>
						</li>
						<li>
							<div class="member" id="exec">
								<div class="member-pic-cover">
									<img class=member-pic src="../../model-data/img/virgil-abloh.jpg"/>
								</div>
								<h2 class="member-name">Virgil Abloh</h2>
								<h3 class="member-title">Creative Director</h3>
								<h3 class="member-loc">🌎Paris, FR</h3>
							</div>
						</li>
						<li>
							<div class="shape" id="triangle"></div>
						</li>
						<li>
							<div class="shape" id="X">
								<h1>X</h1>
							</div>
						</li>
					</ul>
				</td>
			</tr>
			<!-- <tr>
				<th>CHAIRS</th>
			</tr>
			<tr>
				<th>DELTS</th>
			</tr> -->
		</table>
	</body>
</html>